* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Roboto&display=swap');

/* ---------header---------- */

/* body {

    background-image: url(../img/bg-simplify-section-desktop.svg);
} */

header {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    padding: 50px;
    font-size: 13px;
}
/* .hamburger {
    display: none;
} */
header ul {
    list-style-type: none;
    display: flex;
   
    
}

header ul li a{
    text-decoration: none;
    padding: 15px;
    color: #242E52;
    font-weight: 550;
}

.start {
    background-color: #F3603B;
    border: none;
    color: white;
    width: 144px;
    height: 44px;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    position: relative;
    bottom: calc(45px/3);
    cursor: pointer;
    font-weight: bold;
}

/* ---------section1---------- */

.section1 {
    display: flex;   
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 7%;
}

.section1 div {
    display: flex;
    flex-direction: column;
    width: 440px;
    
}

.section1 div h2 {
    font-weight: bold;
    font-size: 55px;
    color: #232C50;
    padding-bottom: 28px;
}

.paragraph {
    font-weight: 550;
    line-height: 35px;
    font-size: 16px;
    width: 340px;
}

.section1 button {
    top: 30px;
    width: 35%;
}

.section1 img {
    position: relative;
    bottom: 50px;
    
}

/* ---------section2---------- */

.section2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.text {
    width: 440px;
}

.text h3 {
    color: #232851;
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 30px;
}

.text p {
   width: 337px;
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}


.containerList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 550px;
    
}


.containerList div {
    width: 440px;
}

.containerList div h4 {
    color: #323851;
    padding-bottom: 20px;
    padding-top: 10px;
}



.containerList div p {
    color: #B3B2B7;
    letter-spacing: 0.5px;
    line-height: 26px;
}

.number {
    background-color: #F3603B;
    border-radius: 30px;
    color: white;
    width: 60px;
    height: 38px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
}

/* -----SECCION 3----- */

.seccionTres {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section3 h3 {
    text-align: center;
    padding-bottom: 5%;
    color: #242E53;
    font-weight: 700;
    font-size: 40px;
}

.contenedorCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.card {
    width: 350px;
    height: 220px;
    /* z-index: -1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 15px;
    align-items: center;
    box-sizing: border-box;
    background-color: #FAFAFA;
    padding-bottom: 20px
}

.profile {
    width: 80px;
    position: relative;
    border-radius: 50%;
    top: calc(80px/2);
    left: calc((350px - 80px) / 2);
   
}

.card h4 {
    padding-top: 60px;
    padding-bottom: 20px;
}

.card p {
    font-size: 16px;
    color: #B3B2B7;
    letter-spacing: 0.5px;
    line-height: 26px;
    padding-bottom: 25px;
}

.cardButton {
    left: calc((100% - 134px) / 2);
    bottom: 50px;
}

/* -------SECTION4------- */

.section4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 225px;
    background-color: #F3613C;
    align-items: center;
}

.section4 h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    width: 460px;
}

.button4 {
    background-color: white;
    color: #F3603B;
    top: 0;
}

/* -----section5----- */

.section5 {
    display: flex;
    height: 240px;
    background-color: #1E1E26;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.logoFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.imgLogo {
    width: 125px;
}

.logoFooter div img {
    margin: 2px;
}

.menuFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
    margin-top: calc((244px - 130px) / 2);
    
}

.menuFooter a {
    text-decoration: none;
    color: white;
    

}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 78px;
    margin-top: calc((244px - 78px) / 3);
    
}

.links a {
    text-decoration: none;
    color: white;
    padding-bottom: 16px;
}

.formFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form {
    display: flex;
    
}
form div input {
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 50px;
}

form div input[type="email"] {
    padding-left: 10px;
}

form button {
    height: 45px;
    width: 65px;
    border: none;
    border-radius: 50px;
    background-color: #F3603B;
    margin-left: 8px;
    color: white;
    cursor: pointer;
}

.formP {
    color: #8C8C94;
    font-size: 12px;
    text-align: end;
}

/* -----section form ----- */
.pageForm {
    height: 100vh;
    background-color: #242E53;
    padding-top: 30vh;
}

.containerMsg {
    width: 80%;
    margin-left: 10%;
    background-color: #F3603B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    border-radius: 150px;

}

.containerMsg h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.linkForm {
    
    text-align: center;
    padding-top: 25px;
}

.linkForm a{
    
    text-decoration: none;
    color: white;
}

/* iphone 6,7,8 plus */
@media screen and (max-width: 415px) {
    .hamburger {
        display: flex;
    }

    header {
        justify-content: space-between;
    }

    nav {
        display: none;
    }

    header button {
        display: none;
    }
 
    .section1 img {
        width: 80%;
        position: static;
        margin-left: 10%;
        
    }

    .section1 div {
        justify-content: center;
    }

    .section1 {
        flex-wrap: wrap-reverse;
        width: 90%;
        margin-left: 5%;
        justify-content: center;
    }

    .section1 div h2 {
        text-align: center;
        font-size: 40px;
    }

    .paragraph {
        color: #B3B2B7;
        letter-spacing: 0.5px;
        line-height: 26px;
        font-weight: normal;
        text-align: center;
        width: 80%;
        margin-left: 10%;
        padding-bottom: 30px;
    }

    .section1 div .start {
        position: static;
        margin-left: calc((100% - 35%) / 2);
        
    }

    /* -----section2----- */
    .section2 {
        
        justify-content: center;
        
    }

    .text h3 {
        text-align: center;
        font-size: 34px;
       padding-left: 10%;
       padding-right: 10%;
        
    }

    .list {
        width: 90%;
    }

    .containerList {
        width: 95%;
        margin-left: 2.5%;
        padding-bottom: 20px;
    }
  
    .containerList div h4::before {
        content: "1";
        background-color: #F3603B;
        border-radius: 30px;
        color: white;
        height: 38px;
        padding: 10px 30px;
        font-size: 16px;
        margin-right: 20px;
        
    }
    .dos div h4:nth-of-type(1)::before {
        content: "2";
    }

    .tres div h4:nth-of-type(1)::before {
        content: "3";
    }
   
    .containerList h4 {
        background-color: rgb(255, 234, 196);
        padding-left: 0px;
        border-radius: 100px 0 0 100px;
        height: 38px;
        width: calc(100vw - 30px);
        
    }

    .containerList p {
        width: 96%;
    }

    .number {
        display: none;
    }
    
    /* -----section 3----- */
    .hide {
        display: none;
    }

        /* -----section 4----- */
   .section4 {
       
       text-align: center;
       height: 50vh;
       padding: 20px;
   }

   .section4 h3 {
    font-size: 45px;
    padding: 0;
   }

   .button4 {
       position: relative;
       top: initial;
       bottom: 25px;
   }
}