<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Thank you</title>
</head>
<body>
    <main class="pageForm">
        <a href="../index.html"><img src="../img/logo-blanco.svg" alt="logo"></a>
        <div class="containerMsg">
            <h1>Thank you, we will contact you soon!</h1>
            
        </div>
        <div class="linkForm">
            <a  href="../index.html">Back to homepage</a>
        </div>
    </main>
</body>
</html>